<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>209701223499-0k5vaa2sqmuqnqi6b89pmtp6bj1bltfs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.209701223499-0k5vaa2sqmuqnqi6b89pmtp6bj1bltfs</string>
	<key>API_KEY</key>
	<string>AIzaSyAQovPpoRo_-us6lUVQyIc6RGRjRX5kN-o</string>
	<key>GCM_SENDER_ID</key>
	<string>209701223499</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hoffsilva.RemoteOk</string>
	<key>PROJECT_ID</key>
	<string>abroad-jobs-scraper</string>
	<key>STORAGE_BUCKET</key>
	<string>abroad-jobs-scraper.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:209701223499:ios:3ea233ce66964ec0ee21ce</string>
</dict>
</plist>